# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main2.cpp
Makefile
CMakeFiles/cmake.check_cache
CMakeFiles/AISDecoder.dir/progress.make
CMakeFiles/AISDecoder.dir/link.txt
CMakeFiles/AISDecoder.dir/flags.make
CMakeFiles/AISDecoder.dir/DependInfo.cmake
CMakeFiles/AISDecoder.dir/depend.make
CMakeFiles/AISDecoder.dir/compiler_depend.ts
CMakeFiles/AISDecoder.dir/compiler_depend.make
CMakeFiles/AISDecoder.dir/compiler_depend.internal
CMakeFiles/AISDecoder.dir/cmake_clean.cmake
CMakeFiles/AISDecoder.dir/build.make
CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.22.1/CMakeSystem.cmake
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.22.1/CMakeCCompiler.cmake
CMakeFiles/Makefile2
CMakeFiles/Makefile.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeLists.txt
CMakeCache.txt
cmake_install.cmake
chatgpt.cpp
chatgpt
